.content {
  margin-top: 100px; 
  position: relative;
  z-index: 2; 
}
.quiz-container {
  position: relative;
  text-align: center;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
  z-index: 1; 
}

.quiz-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110px;
  background-color: white;
  width: 260px;
  margin: 0 auto 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.quiz-progress h3 {
  color: #48c9b0;
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0;
}

.progress-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dot {
  width: 14px;
  height: 14px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(72, 201, 176, 0.3);
  border: 2px solid transparent;
}

.dot.active {
  background: #48c9b0;
  border: 2px solid #48c9b0;
  box-shadow: 0 0 15px rgba(72, 201, 176, 0.6);
}

.question {
  font-size: 2rem;
  margin-bottom: 30px;
}

.movies-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
  height: 400px; 
}

.movies {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.movie-card {
  display: block;
}

.movie-card.active {
  display: block;
}

.movie-image {
  width: 250px;
  height: 340px;
  border-radius: 12px;
  cursor: pointer;
}

.nav-button {
  display: none;
}

@media (max-width: 768px) {
  .quiz-progress {
    height: auto;
    justify-content: unset;
  }

  .movies-container {
    height: 340px; 
  }

  .movies {
    flex-direction: column;
    gap: 0;
  }

  .movie-card {
    display: none;
  }

  .movie-card.active {
    display: block;
  }

  .movie-image {
    width: 90%;
    height: auto;
  }

  .nav-button {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }

  .nav-button.left {
    left: 10px;
  }

  .nav-button.right {
    right: 10px;
  }

  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
